PipeDelimitedFileExportWithColumnFilter/Microsoft.Flow/flows/d29d49da-e0cc-472b-bbf3-bc2db6ae6c56/definition.json
{"name":"99a1f873-7d4c-4d07-a5a2-29e0583803a9","id":"/providers/Microsoft.Flow/flows/99a1f873-7d4c-4d07-a5a2-29e0583803a9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Semantik-Gem-v3","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"76887e96-3d91-444a-9fcd-17f5f5006785","type":"User","tenantId":"2968d01e-dd78-4c42-b92a-3cd566bc9cda"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-08-20T19:11:07.0130887Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"PONumber":{"type":"string"},"TenantId":{"type":"string"},"DocumentId":{"type":"string"},"PdfUrl":{"type":"string"},"TableUrl":{"type":"string"},"InvoiceNumber":{"type":"string"},"InvoiceDate":{"type":"string"},"DueDate":{"type":"string"},"OrderDate":{"type":"string"},"ShipDate":{"type":"string"},"Terms":{"type":"string"},"TotalAmount":{"type":"string"},"SubTotal":{"type":"string"},"AmountDue":{"type":"string"},"TaxRate":{"type":"string"},"TaxAmount":{"type":"string"},"TaxId":{"type":"string"},"LegalEntity":{"type":"string"},"ShipFreight":{"type":"string"}}}}}},"actions":{"Initialize_CSVHeaders":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVHeaders","type":"string","value":"VENDOR|DATE|INVOICE NUMBER|TERM|OUR  PO #|ACCOUNT  NUMBER|SUBTOTAL|TAX|SHIPPING|AMOUNT DUE"}]}},"Initialize_CSVContent":{"runAfter":{"Initialize_CSVHeaders":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVContent","type":"string","value":"@{triggerBody()?['LegalEntity']}|@{triggerBody()?['InvoiceDate']}|@{triggerBody()?['InvoiceNumber']}|@{triggerBody()?['Terms']}|@{triggerBody()?['PONumber']}|@{triggerBody()?['SubTotal']}|@{triggerBody()?['TaxAmount']}|@{triggerBody()?['ShipFreight']}|@{triggerBody()?['AmountDue']}"}]}},"Initialize_CSVRow":{"runAfter":{"Initialize_CSVContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVRow","type":"array"}]}},"Upload_file_from_URL":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CopyFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","path":"/datasets/default/copyFile","queries":{"source":"@triggerBody()?['PdfUrl']","destination":"/Invoices/@{triggerBody()?['DocumentId']}.pdf","overwrite":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Iterate_over_rows":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","body":"@{variables('CSVHeaders')}|\n@{variables('CSVContent')}||||||","path":"/datasets/default/files","queries":{"folderPath":"/InvoiceData","name":"@{triggerBody()?['DocumentId']}.csv"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Initialize_Columns":{"runAfter":{"Initialize_CSVRow":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Columns","type":"array"}]}},"Initialize_ColumnIndexObject":{"runAfter":{"Initialize_ColumnCounter":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ColumnIndexObject","type":"string","value":"{\n  \"Index #\": null,\n  \"Description\": null,\n  \"Shipped\":null,\n  \"Unit Price\": null,\n  \"Ext Price\": null\n}"}]}},"Initialize_ColumnCounter":{"runAfter":{"Initialize_Columns":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ColumnCounter","type":"integer","value":0}]}},"Get_table_JSON_file":{"runAfter":{"Initialize_ColumnIndexJSON":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CopyFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","path":"/datasets/default/copyFile","queries":{"source":"@triggerBody()?['TableUrl']","destination":"LineItems/@{triggerBody()?['DocumentId']}.json","overwrite":true},"authentication":"@parameters('$authentication')"}},"Get_table_data_content":{"runAfter":{"Get_table_JSON_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContent"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"get","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_table_JSON_file')?['Id']))}/content","queries":{"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Convert_Line_Items_to_String":{"runAfter":{"Get_table_data_content":["Succeeded"]},"type":"Compose","inputs":"@base64ToString(outputs('Get_table_data_content')['body']['$content'])"},"Parse_JSON":{"runAfter":{"Convert_Line_Items_to_String":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Convert_Line_Items_to_String')","schema":{"type":"object","properties":{"documentId":{"type":"string"},"tableId":{"type":"string"},"name":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"rows":{"type":"array","items":{"type":"object","properties":{"cells":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}}},"required":["cells"]}}}}}},"Get_headers":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Parse_JSON')?['columns']","select":"@item()?['name']"}},"Iterate_over_Columns":{"foreach":"@body('Parse_JSON')?['columns']","actions":{"Condition":{"actions":{"Add_Column_Index_Property":{"runAfter":{},"type":"Compose","inputs":"@setProperty(json(variables('ColumnIndexObject')), item().name, variables('ColumnCounter'))"},"Set_Column_Index_Object":{"runAfter":{"Add_Column_Index_Property":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ColumnIndexObject","value":"@{outputs('Add_Column_Index_Property')}"}},"Increment_Column_Counter":{"runAfter":{"Set_Column_Index_Object":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"ColumnCounter","value":1}}},"runAfter":{},"else":{"actions":{"Increment_variable_for_non_matched_columns":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"ColumnCounter","value":1}}}},"expression":{"or":[{"equals":["@item().name","Item #"]},{"equals":["@item().name","Description"]},{"equals":["@item().name","Shipped"]},{"equals":["@item().name","Unit Price"]},{"equals":["@item().name","Ext Price"]}]},"type":"If"}},"runAfter":{"Get_headers":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Iterate_over_rows":{"foreach":"@body('Parse_JSON')?['rows']","actions":{"Pull_out_values_from_cells":{"runAfter":{"Add_headers_to_CSVHeaders":["Succeeded"]},"type":"Select","inputs":{"from":"@items('Iterate_over_rows')?['cells']","select":"@item()['value']"}},"Add_headers_to_CSVHeaders":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVHeaders","value":"|ITEM #|DESCRIPTION|SHIPPED|UNIT PRICE|EXT. PRICE"}},"Add_Item_#_to_CSV_Content_If_Exists":{"actions":{"Add_Item_#_To_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|@{item().cells[int(variables('ColumnIndexJSON')['Item #'])].value}"}}},"runAfter":{"Pull_out_values_from_cells":["Succeeded"]},"else":{"actions":{"Add_Pipe_for_Item_#":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|"}}}},"expression":{"not":{"equals":["@variables('ColumnIndexJSON')['Item #']",null]}},"type":"If"},"Add_Description_to_CSV_Content_If_Exists":{"actions":{"Add_Description_to_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|@{item().cells[int(variables('ColumnIndexJSON')['Description'])].value}"}}},"runAfter":{"Add_Item_#_to_CSV_Content_If_Exists":["Succeeded"]},"else":{"actions":{"Add_Pipe_for_Description_":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|"}}}},"expression":{"not":{"equals":["@variables('ColumnIndexJSON')['Description']",null]}},"type":"If"},"Add_Shipped_to_CSV_Content_If_Exists":{"actions":{"Add_Shipped_to_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|@{item().cells[int(variables('ColumnIndexJSON')['Shipped'])].value}"}}},"runAfter":{"Add_Description_to_CSV_Content_If_Exists":["Succeeded"]},"else":{"actions":{"Add_Pipe_for_Shipped":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|"}}}},"expression":{"not":{"equals":["@variables('ColumnIndexJSON')['Shipped']",null]}},"type":"If"},"Add_Unit_Price_to_CSV_Content_If_Exists":{"actions":{"Add_Unit_Price_to_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|@{item().cells[int(variables('ColumnIndexJSON')['Unit Price'])].value}"}}},"runAfter":{"Add_Shipped_to_CSV_Content_If_Exists":["Succeeded"]},"else":{"actions":{"Add_Pipe_for_Unit_Price":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|"}}}},"expression":{"not":{"equals":["@variables('ColumnIndexJSON')['Unit Price']",null]}},"type":"If"},"Add_Ext_Price_to_CSV_If_Exists":{"actions":{"Add_Ext_Price_to_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|@{item().cells[int(variables('ColumnIndexJSON')['Ext Price'])].value}"}}},"runAfter":{"Add_Unit_Price_to_CSV_Content_If_Exists":["Succeeded"]},"else":{"actions":{"Add_Pipe_for_CSV_Content":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"|"}}}},"expression":{"not":{"equals":["@variables('ColumnIndexJSON')['Ext Price']",null]}},"type":"If"}},"runAfter":{"Set_ColumnIndexJSON":["Succeeded"]},"type":"Foreach"},"Parse_ColumnIndex_JSON":{"runAfter":{"Iterate_over_Columns":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('ColumnIndexObject')","schema":{"type":"object","properties":{}}}},"Initialize_ColumnIndexJSON":{"runAfter":{"Initialize_ColumnIndexObject":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ColumnIndexJSON","type":"object"}]}},"Set_ColumnIndexJSON":{"runAfter":{"Parse_ColumnIndex_JSON":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ColumnIndexJSON","value":"@body('Parse_ColumnIndex_JSON')"}}}},"connectionReferences":{"shared_onedrive":{"connectionName":"shared-onedrive-df6eb8f1-b1ca-4207-8636-d1a47b391c79","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedrive","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}