Pipe delimited file export/Microsoft.Flow/flows/811ddd2d-dba1-4cad-b317-691e74d16f99/definition.json
{"name":"2c6814cf-cd4a-4020-be9d-832aaefa9f7a","id":"/providers/Microsoft.Flow/flows/2c6814cf-cd4a-4020-be9d-832aaefa9f7a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Semantik-Gem-v2","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"76887e96-3d91-444a-9fcd-17f5f5006785","type":"User","tenantId":"2968d01e-dd78-4c42-b92a-3cd566bc9cda"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-08-20T14:08:24.8646931Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"PONumber":{"type":"string"},"TenantId":{"type":"string"},"DocumentId":{"type":"string"},"PdfUrl":{"type":"string"},"TableUrl":{"type":"string"},"InvoiceNumber":{"type":"string"},"InvoiceDate":{"type":"string"},"DueDate":{"type":"string"},"OrderDate":{"type":"string"},"ShipDate":{"type":"string"},"Terms":{"type":"string"},"TotalAmount":{"type":"string"},"SubTotal":{"type":"string"},"AmountDue":{"type":"string"},"TaxRate":{"type":"string"},"TaxAmount":{"type":"string"},"TaxId":{"type":"string"},"LegalEntity":{"type":"string"},"ShipFreight":{"type":"string"}}}}}},"actions":{"Initialize_CSVHeaders":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVHeaders","type":"string","value":"VENDOR|DATE|INVOICE NUMBER|TERM|OUR  PO #|ACCOUNT  NUMBER|SUBTOTAL|TAX|SHIPPING|AMOUNT DUE"}]}},"Initialize_CSVContent":{"runAfter":{"Initialize_CSVHeaders":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVContent","type":"string","value":"@{triggerBody()?['LegalEntity']}|@{triggerBody()?['InvoiceDate']}|@{triggerBody()?['InvoiceNumber']}|@{triggerBody()?['Terms']}|@{triggerBody()?['PONumber']}||@{triggerBody()?['SubTotal']}|@{triggerBody()?['TaxAmount']}|@{triggerBody()?['ShipFreight']}|@{triggerBody()?['AmountDue']}|"}]}},"Initialize_CSVRow":{"runAfter":{"Initialize_CSVContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CSVRow","type":"array"}]}},"Upload_file_from_URL":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CopyFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","path":"/datasets/default/copyFile","queries":{"source":"@triggerBody()?['PdfUrl']","destination":"/Invoices/@{triggerBody()?['DocumentId']}.pdf","overwrite":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_table_JSON_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CopyFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","path":"/datasets/default/copyFile","queries":{"source":"@triggerBody()?['TableUrl']","destination":"LineItems/@{triggerBody()?['DocumentId']}.json","overwrite":true},"authentication":"@parameters('$authentication')"}},"Get_table_data_content":{"runAfter":{"Get_table_JSON_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContent"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"get","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_table_JSON_file')?['Id']))}/content","queries":{"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Convert_Line_Items_to_String":{"runAfter":{"Get_table_data_content":["Succeeded"]},"type":"Compose","inputs":"@base64ToString(outputs('Get_table_data_content')['body']['$content'])"},"Parse_JSON":{"runAfter":{"Convert_Line_Items_to_String":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Convert_Line_Items_to_String')","schema":{"type":"object","properties":{"documentId":{"type":"string"},"tableId":{"type":"string"},"name":{"type":"string"},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"rows":{"type":"array","items":{"type":"object","properties":{"cells":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}}},"required":["cells"]}}}}}},"Get_headers":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Parse_JSON')?['columns']","select":"@item()?['name']"}},"Iterate_over_rows":{"foreach":"@body('Parse_JSON')?['rows']","actions":{"Pull_out_values_from_cells":{"runAfter":{"Add_headers_to_CSVHeaders":["Succeeded"]},"type":"Select","inputs":{"from":"@items('Iterate_over_rows')?['cells']","select":"@item()['value']"}},"Add_row_to_CSV_Content":{"runAfter":{"Pull_out_values_from_cells":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"CSVContent","value":"@{join(outputs('Pull_out_values_from_cells').body,'|')}|"}},"Add_headers_to_CSVHeaders":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CSVHeaders","value":"|@{join(outputs('Get_headers').body,'|')}"}}},"runAfter":{"Get_headers":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_CSVRow":["Succeeded"]},"expression":{"not":{"equals":["@triggerBody()?['TableUrl']",""]}},"type":"If"},"Create_file":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedrive']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/onedrive"}},"method":"post","body":"@{variables('CSVHeaders')}|\n@{substring(variables('CSVContent'),0,add(length (variables('CSVContent')),-1))}||||||","path":"/datasets/default/files","queries":{"folderPath":"/InvoiceData","name":"@{triggerBody()?['DocumentId']}.csv"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"connectionReferences":{"shared_onedrive":{"connectionName":"shared-onedrive-df6eb8f1-b1ca-4207-8636-d1a47b391c79","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedrive","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}